

body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,45,82,1) 0%, rgba(0,82,98,1) 100%);
}

.navbar{
    
   
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(116,116,153,1) 17%, rgba(0,212,255,1) 100%);
}

#navbarNav a{
    padding-left: px;
    
}

#Albums{

    margin-top: 10%;

}

#reviews{
    margin-top: 5%;
}